In [34]:
import pandas as pd

In [63]:
new_order = ['_id','substances', 'tags',  'title', 'subject','description', 'related_effects', 'slug', 'onset', 'peak', 'offset', 'sectionVisibility', 'featured', 'introduction', 'conclusion', '_v']
reports = reports.reindex(columns=new_order)
reports.head()

,_id,substances,tags,title,subject,description,related_effects,slug,onset,peak,offset,sectionVisibility,featured,introduction,conclusion,_v
0,{'$oid': '5b6283c45c4eef141ec0e53b'},"[{'_id': {'$oid': '5b6283c45c4eef141ec0e53c'},...","[Josie, Salvia, delirious]",Delirious laughter,"{'name': 'Josie', 'trip_date': '19/03/2018', '...",NaN,"[{'$oid': '5b81b3edf228e642f0829ce6'}, {'$oid'...",delirious-laughter,[],"[{'_id': {'$oid': '5b6634e5ae67013dd4c7ec73'},...","[{'_id': {'$oid': '5b6286d5fb27a214cac41d1a'},...","{'subject': True, 'substances': True, 'onset':...",False,NaN,This trip was incredibly confusing while also ...,NaN
1,{'$oid': '5b650d3a2dc00633237aea4c'},"[{'_id': {'$oid': '5b650d3a2dc00633237aea4d'},...","[4-HO-MET, Unity, josie]",Unity with a friend,"{'name': 'Josie', 'trip_date': '09/04/2018', '...",NaN,"[{'$oid': '5b49a89bea24120b49b24b58'}, {'$oid'...",unity-with-a-friend,"[{'_id': {'$oid': '5b650d3a2dc00633237aea57'},...","[{'_id': {'$oid': '5b650d3a2dc00633237aea59'},...","[{'_id': {'$oid': '5b650d3a2dc00633237aea5a'},...","{'subject': True, 'substances': True, 'onset':...",True,NaN,I am incredibly lucky to have experienced this...,NaN
2,{'$oid': '5b66069b887f2c39ddcb378c'},"[{'_id': {'$oid': '5b66069b887f2c39ddcb378d'},...","[2C-E, Josie, internal hallucinations]",Hallucinate everything mode,"{'name': 'Josie', 'trip_date': '01/03/2018', '...",NaN,"[{'$oid': '5b7b474439b82210cf57a610'}, {'$oid'...",hallucinate-everything-mode,"[{'_id': {'$oid': '5b66069b887f2c39ddcb37a6'},...","[{'_id': {'$oid': '5b66069b887f2c39ddcb37a7'},...","[{'_id': {'$oid': '5b66069b887f2c39ddcb37ac'},...","{'subject': True, 'substances': True, 'onset':...",True,NaN,This trip was an absolutely mindblowing experi...,NaN
3,{'$oid': '5b672bde76af1e4535063001'},"[{'_id': {'$oid': '5b672bde76af1e4535063002'},...","[internal hallucinations, kaylee, salvia]",Salvia people in a courtyard,"{'name': 'Kaylee', 'trip_date': '19/03/2018', ...",NaN,"[{'$oid': '5b565c624227356db808661d'}, {'$oid'...",salvia-people-in-a-courtyard,"[{'_id': {'$oid': '5b672bde76af1e4535063003'},...","[{'_id': {'$oid': '5b672bde76af1e4535063004'},...","[{'_id': {'$oid': '5b672bde76af1e4535063005'},...","{'subject': True, 'substances': True, 'onset':...",False,NaN,NaN,NaN
4,{'$oid': '5b67332176af1e4535063006'},"[{'_id': {'$oid': '5b67332176af1e4535063008'},...","[DXM, Josie, spiritual]",Psychedelic dissociation,"{'name': 'Josie', 'trip_date': '26/03/2018', '...",NaN,"[{'$oid': '5b75cde36b7b4d388828c645'}, {'$oid'...",psychedelic-dissociation,"[{'_id': {'$oid': '5b67332176af1e453506301b'},...","[{'_id': {'$oid': '5b67332176af1e4535063027'},...","[{'_id': {'$oid': '5b67332176af1e453506302c'},...","{'subject': True, 'substances': True, 'onset':...",False,NaN,Once again DXM has far exceeded my expectation...,NaN

In [113]:
# SUBJECT

subject_df = pd.DataFrame(reports.subject.values.tolist())

,age,gender,height,medications,name,pdf_url,setting,trip_date,weight
0,25,female,5ft9,300 mg spironolactone / 8mg estrodiol daily,Josie,https://drive.google.com/file/d/1N9VPIEeC3fRBl...,In my flat with my girlfriend who is tripsitti...,19/03/2018,150 lb's
1,25,Female,5ft9,300 mg spironolactone / 8mg estrodiol daily,Josie,https://drive.google.com/file/d/1vR0IeMKEkqmdw...,An apartment in Seattle with a close internet ...,09/04/2018,150 lb
2,25,Female,5ft9,300 mg spironolactone / 8mg estrodiol daily,Josie,https://drive.google.com/file/d/1t2ZFzA_Zt0sPu...,Inside my flat with my girlfriend who is also ...,01/03/2018,~150lbs
3,24,Female,6ft,NaN,Kaylee,https://drive.google.com/file/d/1N9VPIEeC3fRBl...,Inside my apartment with my girlfriend who was...,19/03/2018,~150lbs
4,25,Female,5ft9,300mg spironolactone / 8 mg estrodiol daily,Josie,https://drive.google.com/file/d/1Qs67Ox0pTuRGD...,In my flat with my gf who is also tripping.,26/03/2018,~150 lbs
5,23,Male,5'10,Propranolol ER 120mg,Gabriel,NaN,At home in bed,5/23/2018,210lbs
6,25,Female,5ft9,300mg spironolactone / 8mg estradiol daily,Josie,https://drive.google.com/file/d/1T6GiZJ3FmCPHa...,Inside my flat with my girlfriend who is also ...,13/03/2018,~150lbs
7,25,Female,5ft9,300mg spironolactone / 8mg estradiol daily,Josie,https://drive.google.com/file/d/1XGDJYB94Xq3Im...,Inside my flat with my girlfriend who is trip ...,01/03/2018,~150lb
8,25,Female,5ft9,300mg spironolactone / 8mg estradiol daily,Josie,https://drive.google.com/file/d/1vs2JqKIElM_kv...,Alone inside my living room with my girlfriend...,13/03/2018,~150lbs
9,25,Female,5ft9,300mg spironolactone / 8mg estrodiol daily,Josie,https://drive.google.com/file/d/1HN5JiQO3lRwRi...,Inside my flat with my girlfriend who is also ...,17/02/2018,~150lbs
10,23,Male,5ft10,NaN,Gabriel,https://drive.google.com/file/d/1BOmabi9E56XBR...,In my room by myself on voice chat with some f...,3/13/2018,~210lbs
11,24,Female,6ft,NaN,Kaylee,https://drive.google.com/file/d/100XwMnT-4Fh8q...,In flat with my girlfriend who is also tripping,01/03/2018,~150lb
12,25,Female,5ft9,8mg estradiol / 300mg spironolactone,Josie,NaN,A cabin deep within the mountain forests of ea...,12/04/2018,~150lb
13,25,Female,5ft9,300mg spironolactone / 8mg estradiol daily,Josie,NaN,Inside my flat with my girlfriend who is also ...,16/03/2018,~150lbs
14,24,Female,6ft,NaN,Kaylee,NaN,At home with my girlfriend who is also tripping,16/03/2018,~145 lbs
15,27,Male,5ft11,NaN,Maethor,NaN,Driving,04/15/2018,185 lb
16,21,not specified,6'0,none,nervewing,NaN,My house with other friends tripping on other ...,December 2016,130 lbs
17,23,not specified,6'0,none,nervewing,NaN,My apartment,July 2018,130 lbs
18,23,not specified,6'0,NaN,nervewing,NaN,A cemetery,09/2018,130 lbs
19,18,not specified,6'0,NaN,nervewing,NaN,My bedroom,08/2013,130 lbs
20,18,not specified,6'0,NaN,nervewing,NaN,my bedroom,12/2013,130 lbs
21,20,not specified,6'0,NaN,nervewing,NaN,"The subway, my apartment",10/2015,130 lbs
22,21,not specified,6'0,NaN,nervewing,NaN,my best friend's parent's house,08/2016,130 lbs
23,21,not specified,6'0,NaN,nervewing,NaN,"My apartment, friend's party",09/2016,130 lbs
24,23,not specified,6'0,NaN,nervewing,NaN,my friend's house,01/2019,130 lbs
25,20,not specified,6'0,NaN,nervewing,NaN,My apartment,03/16,120 lbs
26,22,not specified,6'0,NaN,nervewing,NaN,My apartment,04/2018,130 lbs
27,21,not specified,6'0,NaN,nervewing,NaN,My apartment,09/2016,120 lbs
28,20,not specified,6'0,NaN,nervewing,NaN,My apartment,01/2016,120 lbs
29,21,not specified,6'0,NaN,nervewing,NaN,My apartment,08/2016,125 lbs
...,...,...,...,...,...,...,...,...,...
110,20,Not specified,6'0'',NaN,nervewing,NaN,My apartment,05/01/2016,120lbs
111,19,Not specified,6'0'',NaN,nervewing,NaN,"Downtown city center, public park, and my apar...",26/12/2014,130lbs
112,25,Not specified,6ft,NaN,nervewing,NaN,My house,October 14th 2020,130lb
113,20,Not specified,6'0'',NaN,nervewing,NaN,My apartment,21/12/2015,120lbs
114,21,Not specified,6'0'',NaN,nervewing,NaN,"My apartment, around campus",11/09/2016,125 lbs
115,24,Not specified,6ft,NaN,nervewing,NaN,Around the city and my house,April 7th 2020,125lb
116,21,Not specified,6'0'',NaN,nervewing,NaN,My apartment,13/05/2017,120 lbs
117,20,Not specified,6'0'',NaN,nervewing,NaN,My apartment,06/05/2016,120 lbs
118,24,Not specified,6ft,NaN,nervewing,NaN,In my bedroom,January 22nd 2020,135lb
119,19,Not specified,6'0'',NaN,nervewing,NaN,"Movie theater, grocery store, and my apartment.",20/12/2015,130 lbs
120,21,Not specified,6'0'',NaN,nervewing,NaN,"The woods, my apartment",10/06/2017,125 lbs
121,24,Not specified,6ft,NaN,nervewing,NaN,Around my city and my apartment,November 30th 2019,135lb
122,18,Not specified,6'0'',NaN,nervewing,NaN,Around campus,28/05/2014,130 lbs
123,23,Not specified,6'0'',NaN,nervewing,NaN,My apartment,24/08/2018,130 lbs
124,24,Not specified,6ft,NaN,nervewing,NaN,My bedroom,May 23rd 2020,125lb
125,21,Not specified,6'0'',NaN,nervewing,NaN,"My apartment, around the city",11/07/2016,125 lbs
126,25,Not specified,6ft,NaN,nervewing,NaN,My house,October 4th 2020,130lb
127,21,Not specified,6ft,NaN,nervewing,NaN,"Woods, train tracks, around the city, my apart...",June 22nd 2017,125lb
128,21,Not specified,6ft,NaN,nervewing,NaN,"Around the city, at a party",September 7th 2016,125lb
129,20,Not specified,6ft,NaN,nervewing,NaN,My apartment,September 23rd 2015,120lb
130,24,Not specified,6ft,NaN,nervewing,NaN,My friend's house,February 10th 2020,130lb
131,20,Not specified,6'0'',NaN,nervewing,NaN,My apartment,25/01/2016,120 lbs
132,20,Not specified,6'0'',NaN,nervewing,NaN,My bedroom,13/10/2016,130 lbs
133,21,Male,NaN,NaN,Anonymous Reader,NaN,A friends house,"May 8th, 2010",135lb
134,27,Female,5ft9,NaN,Josie,NaN,At home with my friend who is also tripping,24th of October 2020,~150lb
135,26,Female,5ft10,NaN,Natalie,NaN,Tripping with my friend in our apartment,"23rd of October, 2020",~150 lbs
136,NaN,Male,NaN,NaN,Sedric Lightbury,NaN,NaN,July 12th 2010,NaN
137,19,Female,5ft4,NaN,Julie,NaN,At home alone,07/11/2020,110 lbs
138,21,Male,5ft7,NaN,Anonymous,NaN,At home,7th of November 2020,~132lb
139,,Nonbinary,6'3 / 190.5cm,"Cyproterone Acetate, Estradiol",liv,NaN,Bedroom,2021/03/02,~170lbs / ~77kg

In [117]:
# SectionVisibility

sV_df = pd.DataFrame(reports.sectionVisibility.values.tolist())
sV_df.head()

,conclusion,description,introduction,offset,onset,peak,relatedEffects,subject,substances,tags
0,True,False,True,True,True,True,True,True,True,True
1,True,False,True,True,True,True,True,True,True,True
2,True,False,False,True,True,True,True,True,True,True
3,False,False,False,True,True,True,True,True,True,True
4,True,False,False,True,True,True,True,True,True,True

## related effects seems like a useless column

In [119]:
# related_effects

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,{'$oid': '5b81b3edf228e642f0829ce6'},{'$oid': '5b49bdd5c96f86189926904f'},{'$oid': '5fb2d59784bcbf393b0c3839'},None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,{'$oid': '5b49a89bea24120b49b24b58'},{'$oid': '5b81a6a8d9922e7c6f7353d0'},{'$oid': '5b198863e60c9e06f06ddcf6'},{'$oid': '5b2839b3809a7131085cf527'},{'$oid': '5b84ad800fa2f30491ca9966'},{'$oid': '5b54ec3a2c47507065db131c'},{'$oid': '5b55399b4227356db8086616'},{'$oid': '5b5a1ef5e38ad064dc90b0ba'},{'$oid': '5b62113b379c2707c05c694a'},{'$oid': '5b85a950fc5e853400adc530'},...,None,None,None,None,None,None,None,None,None,None
2,{'$oid': '5b7b474439b82210cf57a610'},{'$oid': '5b85a4c0fc5e853400adc52d'},{'$oid': '5b84a8e20fa2f30491ca9964'},{'$oid': '5b4a9aa157e0ac1a83ac634d'},{'$oid': '5b49b63dc96f86189926904a'},{'$oid': '5b49a89bea24120b49b24b58'},{'$oid': '5b54ec3a2c47507065db131c'},{'$oid': '5b2839b3809a7131085cf527'},{'$oid': '5b8361b480b3d80353a05412'},{'$oid': '5b47acf0a1f46901e3750671'},...,None,None,None,None,None,None,None,None,None,None
3,{'$oid': '5b565c624227356db808661d'},{'$oid': '5b43d2798b36395c8633903a'},{'$oid': '5b46bfc891d66d7e5521b0b0'},{'$oid': '5b4664069b173e7348c5cb0e'},None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,{'$oid': '5b75cde36b7b4d388828c645'},{'$oid': '5b95f6e50b0ef54651a07360'},{'$oid': '5b57737f7b8699458496cc8d'},{'$oid': '5b81b7c5f228e642f0829cec'},{'$oid': '5b84a70e0fa2f30491ca9963'},{'$oid': '5b84b3ada9a7f02682462a04'},{'$oid': '5b4a953657e0ac1a83ac6345'},{'$oid': '5b49a9a6ea24120b49b24b59'},{'$oid': '5b49ac06ea24120b49b24b5c'},{'$oid': '5b49aab8ea24120b49b24b5b'},...,None,None,None,None,None,None,None,None,None,None

In [143]:
for i, value in enumerate(reports.substances.values.tolist()):
    for info in value:
        for j in list(key):
            if '_id' in info: del info['_id']

In [155]:
# Substances

substances_df = pd.DataFrame(reports.substances.values.tolist())[0]
substances_df = pd.DataFrame.from_records(substances_df)
substances_df.head(10)

                  dose                  name          roa
0  30mg of 15x extract      Salvia divinorum       smoked
1                 60mg              4-HO-MET         Oral
2                 25mg                  2C-E         Oral
3  30mg of 15x extract      Salvia divinorum       Smoked
4               531 mg                   DXM         Oral
5                 50mg              Ketamine  Insufflated
6                350mg                   DXM         Oral
7     15mg 15x extract      Salvia divinorum       Smoked
8  15mg of 15x extract      Salvia divinorum       Smoked
9              unknown  Psilocybin Mushrooms         Oral

In [157]:
for i, value in enumerate(reports.onset.values.tolist()):
    for info in value:
        for j in list(key):
            if '_id' in info: del info['_id']

In [262]:
# ONSET

onset_df = pd.DataFrame(reports.onset.values.tolist()[1:])

onset_df = pd.DataFrame.from_records(onset_df)

onset_df = pd.melt(onset_df, id_vars=[0])
onset_df.drop(columns='variable', inplace=True)

onset_df = pd.concat([onset_df[0].apply(pd.Series), onset_df['value'].apply(pd.Series, index=onset_df.columns)], axis=1)

onset_df.drop(columns='value',inplace=True)
onset_df.drop(columns=0,inplace=True)

onset_df.head()

       time                                        description
0  12:30 pm  I consumed 60mg 4-ho-met in a gelcap. This was...
1   1:20 pm  I took 25mg of 2C-E which I acquired through a...
2   4:43 pm                                      smokes salvia
3   7:35 pm                          Ingested the DXM bottles.
4    T+0:00                  50mg of racemic ketamine snorted.

In [240]:
for i, value in enumerate(reports.peak.values.tolist()):
    for info in value:
        for j in list(key):
            if '_id' in info: del info['_id']

In [264]:
# PEAK

peak_df = pd.DataFrame(reports.peak.values.tolist()[1:])

peak_df = pd.DataFrame.from_records(peak_df)

peak_df = pd.melt(peak_df, id_vars=[0])
peak_df.drop(columns='variable', inplace=True)

peak_df = pd.concat([peak_df[0].apply(pd.Series), peak_df['value'].apply(pd.Series, index=peak_df.columns)], axis=1)

peak_df.drop(columns='value',inplace=True)
peak_df.drop(columns=0,inplace=True)
peak_df.head()

       time                                        description
0   3:00 pm  At this point, I seem to be peaking. The effec...
1   5:58 pm  Mother of God. I have seen so much that it is ...
2   4:45 pm  I was getting a weird half breakthrough. After...
3  10:20 pm  I vomited three times into a bucket and then s...
4    T+0:25  I have reached the peak. It is very mild and I...

In [242]:
for i, value in enumerate(reports.offset.values.tolist()):
    for info in value:
        for j in list(key):
            if '_id' in info: del info['_id']

In [265]:
# OFFSET

offset_df = pd.DataFrame(reports.offset.values.tolist()[1:])

offset_df = pd.DataFrame.from_records(offset_df)

offset_df = pd.melt(offset_df, id_vars=[0])
offset_df.drop(columns='variable', inplace=True)

offset_df = pd.concat([offset_df[0].apply(pd.Series), offset_df['value'].apply(pd.Series, index=offset_df.columns)], axis=1)

offset_df.drop(columns='value',inplace=True)
offset_df.drop(columns=0,inplace=True)
offset_df.head()

       time                                        description
0   6:00 pm  At this point, I had lost the feeling and retu...
1   6:38 pm  I have come down ever so slightly and am now w...
2   5:11 pm  I have returned to baseline. There do not appe...
3  12:29 am  At this point, I am starting to come down as t...
4    T+0:45  I am still tripping moderately hard but I am b...